[Unit]
Description=Knowledge Base: Go

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/docker rm kb-go
ExecStart=/usr/bin/docker run \
	--name=kb-go \
	-v "%h/Documents/Knowledge Base/Go":/srv/gitbook \
	-v %h/Web/kb-go:/srv/html \
	fellah/gitbook gitbook build . /srv/html

[Install]
WantedBy=default.target
