[Unit]
Description=Knowledge Base: IT

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/docker rm --volumes kb-it
ExecStart=/usr/bin/docker run \
	--name=kb-it \
	-v "%h/Documents/Knowledge Base/IT":/srv/gitbook \
	-v %h/Web/kb-it:/srv/html \
	fellah/gitbook gitbook build . /srv/html

[Install]
WantedBy=default.target