[Unit]
Description=Web

[Service]
ExecStartPre=-/usr/bin/docker pull nginx:1.10
ExecStartPre=-/usr/bin/docker rm web
ExecStart=/usr/bin/docker run \
	--publish 80:80 \
	--volume %h/.config/web.conf:/etc/nginx/conf.d/default.conf \
	--volume %h/.cache/web:/usr/share/nginx/html:ro \
	--rm \
	--name=web \
	nginx:1.10
ExecStop=/usr/bin/docker stop web

[Install]
WantedBy=default.target
