{
	"AWSTemplateFormatVersion": "2010-09-09",
	"Description": "Dixet S3 storages.",
	"Resources": {
		"BackUps": {
			"Type": "AWS::S3::Bucket",
			"Properties": {
				"AccessControl": "Private",
				"Tags": [ {
					"Key": "Name",
					"Value" : "BackUps"
				} ]
			}
		}
	}
}
