## https://wiki.archlinux.org/index.php/MTP#Media_players
SUBSYSTEM=="usb", ATTR{idVendor}=="12d1", ATTR{idProduct}=="1039" MODE="0666", GROUP="users"
